@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700";
@import "";

*{
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.jumbotron {
    background-color: #bf7670;
}
.jumbotron h2 {
    color: white;
    font-size: 1.6em;
}
.jumbotron p {
    color: white;
    font-size: 1.2em;
}

.uploadform {
    color: white;
    background-color: #bf7670;
    border-radius: 5px;
    
    width: 400px;
    padding: 40px;
    margin: 40px auto;
    
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    
}

.uploadform p{
    font-size: 1.6em;
}

.uploadform button{
    width: 100%;
    text-align: center;
    color: rgba(41, 23, 32, 0.8);
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.4);
}
    
.form-group {
    margin: 15px auto;
}

.form-group label {
font-weight: bold;
font-size: 0.9em;
}
.form-group .input-group{
border-radius: 5px;
-webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
-moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
}

.form-group .input-group-addon{
    border: none;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.form-group input{
    padding-left: 10px;
}

.form-group i{
    color: rgba(41, 23, 32, 0.8);
}


.form-group input{
padding: 3px;
width: 100%;
border: none;
border-radius: 0 5px 5px 0;
}

.input-group input {
    color: #1c1a18;
}